
#welcome {
    
    background-image: url('../png/into.jpg');
    background-repeat: no-repeat;
    background-size: contain;  
    padding-bottom: 40%;"
}

#welcome .info {
    margin-top: 5vw;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(245,250,255,0.6);
    padding-top: 3vw;
}

.post-content img {
    display: block;
    margin: auto;
}


@media (min-width: 1200px) {
    #welcome {
        margin-top: 100px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #welcome {
        margin-top: 80px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #welcome {
        margin-top: 70px;
    }
}

#welcome768 #mobile-symbol {
    color: #0088AA;
    font-size: 2em;
    padding-bottom: 10px;
    padding-top: 10px;
    vertical-align: middle;
}

#welcome768 #mobile-number {
    padding-left: 15px;
    color: #0088AA;
    padding-right: 10px;
    vertical-align: middle;
    font-size: 1.5em;
}

@media (min-width: 560px) and (max-width: 767px) {
    
    
    #welcome768 {     
        background-image: url('../png/into.jpg');
        background-repeat: no-repeat;
        background-size: contain;  
    }
    
    #welcome768 .info {
        margin-top: 80px;
        height: 40vw;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(245,250,255,0.6);
        padding-top: 4vw;
    }
}
    

@media (max-width: 559px) {
	
    #welcome768 {   
        background-image: url(../png/into_768.jpg);
        background-repeat: no-repeat;
        background-position-x: center;
        height: 250px;
    }
    
    #welcome768 .info {
        margin-top: 80px;
        height: 250px;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(245,250,255,0.6);
        padding-top: 15px;
    }
}