<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta charset="utf-8">
  <meta name="description" CONTENT="Lekarz pediatra oferuje wizyty domowe w rejonie gmina Dobra Szczecińska. Umowa z NFZ.">
  <!--<meta name="google-site-verification" content="aaK9hQdXnZqxznK2p0QXGspZgcn-CZKo9QhA9Wy8N30" />-->
  <!--<meta property="og:url" content="http://remotee.me/">-->
  <!--<meta property="og:title" content="Remotee.me - remote avatar robot">-->
  <!--<meta property="og:description" content="Avatar robot for modern telecommute work. Remotely controlled telepresence robot will improve you remote work. Remotee bot will change the way you work, improve your effectiveness and make you more focused.">-->
  <!--<meta property="og:image" content="http://remotee.me/png/remotee_logo_orange_1200x630.png">-->
  <!--<meta property="og:image:url" content="http://remotee.me/png/remotee_logo_orange_1200x630.png">-->
  <!--<meta name="twitter:card" content="summary" />-->
  <!--<meta name="twitter:site" content="@remotee_me" />-->
  <!--<meta name="twitter:title" content="Remotee.me - remote avatar robot" />-->
  <!--<meta name="twitter:description" content="Remotely controlled telepresence robot for modern telecommute work." />-->
  <!--<meta name="twitter:image" content="http://remotee.me/png/remotee_logo_orange_1200x630.png" />-->
  <!--<meta name="twitter:domain" content="remotee.me" />-->
  
  
	<link rel="apple-touch-icon" sizes="180x180" href="{{ "/png/apple-touch-icon.png" | prepend: site.baseurl }}">
	<link rel="icon" type="image/png" href="{{ "/png/favicon-32x32.png" | prepend: site.baseurl }}" sizes="32x32">
	<link rel="icon" type="image/png" href="{{ "/png/favicon-16x16.png" | prepend: site.baseurl }}" sizes="16x16">
	<link rel="mask-icon" href="{{ "/png/safari-pinned-tab.svg" | prepend: site.baseurl }}" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">
  
  <title>Koniczynka Med - Lekarz Pediatra - wizyty domowe - gmina Dobra (Szczecińska), Mierzyn, Wołczkowo</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9">
  <link rel="stylesheet" href="{{ "/css/font-awesome.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/typography.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/menu.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/content.css" | prepend: site.baseurl }}">

    <!--<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">-->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
