<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta charset="utf-8">
  <meta name="description" content="{{page.excerpt}}">
  <meta property="og:url" content="http://koniczynka-med.pl{{page.url}}">
  <meta property="og:title" content="Koniczynka Med - {{ page.title }}">
  <meta property="og:description" content="{{page.excerpt}}">
  <meta property="og:image" content="http://koniczynka-med.pl/png/logo-rect.png">
  <meta property="og:image:url" content="http://koniczynka-med.pl/png/logo-rect.png">
  <meta property="og:type" content="website" />
  
  
  
	<link rel="apple-touch-icon" sizes="180x180" href="{{ "/png/apple-touch-icon.png" | prepend: site.baseurl }}">
	<link rel="icon" type="image/png" href="{{ "/png/favicon-32x32.png" | prepend: site.baseurl }}" sizes="32x32">
	<link rel="icon" type="image/png" href="{{ "/png/favicon-16x16.png" | prepend: site.baseurl }}" sizes="16x16">
	<link rel="mask-icon" href="{{ "/png/safari-pinned-tab.svg" | prepend: site.baseurl }}" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">
  
  <title>Koniczynka Med - {{ page.title }}</title>
  <!--<title>Koniczynka Med - Lekarz Pediatra - wizyty domowe - gmina Dobra (Szczecińska), Mierzyn, Wołczkowo</title>-->
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9">
  <link rel="stylesheet" href="{{ "/css/font-awesome.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/typography.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/menu.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/content.css" | prepend: site.baseurl }}">

    <!--<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">-->
    <!--<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">-->
</head>
