<!DOCTYPE html>
<html>

  {% include head.html %}

  <body style="background-color:#f5faff;">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.11&appId=152078784842071';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    {% include header.html %}

    <div class="visible-lg" style="padding-top: 100px;" ></div>
    <div class="visible-sm visible-md" style="padding-top: 100px;" ></div>
    <div class="visible-xs" style="padding-top: 80px;" ></div>
    
    <div class="container" style="min-height: 55vh;">
        {{ content }}
    </div>
    
    <div class="visible-lg" style="padding-top: 50px;" ></div>
    <div class="visible-sm visible-md" style="padding-top: 50px;" ></div>
    <div class="visible-xs" style="padding-top: 30px;" ></div>

    {% include footer.html %}

  </body>

</html>
