<!DOCTYPE html>
<html>

  {% include head.html %}

  <body style="background-color:#f5faff;">

    {% include header.html %}

    <div class="visible-lg" style="padding-top: 100px;" ></div>
    <div class="visible-sm visible-md" style="padding-top: 100px;" ></div>
    <div class="visible-xs" style="padding-top: 80px;" ></div>
    
    <div class="container" style="min-height: 55vh;">
        {{ content }}
    </div>
    
    <div class="visible-lg" style="padding-top: 50px;" ></div>
    <div class="visible-sm visible-md" style="padding-top: 50px;" ></div>
    <div class="visible-xs" style="padding-top: 30px;" ></div>

    {% include footer.html %}

  </body>

</html>
